.body{
    color: #fff;
        background-image: url("https://www.kiplinger.com/slideshow/investing/T019-S003-5-signs-to-watch-for-a-stock-market-peak/images/intro.jpg");
    background-repeat: no-repeat;
min-height: 700px;    
   }