<!DOCTYPE html>

<html lang="en">

<head>

 <title>Bootstrap Example</title>

 <meta charset="utf-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">





</head>

<body>



<div class="container mt-3">

 <form action="/action_page.php">

  <br>

  <p>Import Excel</p>

  <div class="custom-file mb-3">

   <input type="file" class="custom-file-input" id="customFile" name="filename">

   <label class="custom-file-label" for="customFile">Choose file</label>

  </div>

 </form>

 <button type="button" class="btn btn-default btn-block"><a href='admin'>Back</a></button>

</div>



</body>

</html>







