<style>
  .body {
    color: black;
    background-image: url("https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
  min-height: 700px;
  }
  </style>
  
  <div class="body">
    <div class="container">
<button type="button" class="btn btn-info"><a routerLink="/sectors" label>Add Sectors</a></button><br>
        <table  class="table table-hover table-sm"  > 
            <thead>
      
              <tr>
      
                <th>Sectorid</th>
      
                <th>Sectorname</th>
      
                <th>Brief</th>
      
      
              </tr>
      
            </thead>
      
            <tbody>
      
               <tr *ngFor="let sectors of sectorsList ">
      
                <td>{{sectors.sectorid}}</td>
      
                <td>{{sectors.sectorname}}</td>
      
                <td>{{sectors.brief}}</td>
      
                <td><button (click)="deleteSectors(sectors)" class='btn btn-danger'><i class="fa fa-futboll-0">Delete</i></button> &nbsp;

                  <button (click)="updateSectors(sectors)" class='btn btn-primary'
             
                  data-toggle="modal" data-target="#myModal">Update</button>
             
                 </td>
               
               </tr>
      
            </tbody><br>
      
          </table>
    </div>
  </div>
    
      
      
      
       
      
      
      
      

